/* Unterschiedliche Spaltenanzahlen und -breiten */
.data-table {
  display: grid;
  gap: 1rem;

  &.courses {  
    grid-template-columns:
    minmax(0, 2fr)
    minmax(0, 2fr)
    minmax(0, 2fr)
    minmax(0, 1fr)
    minmax(0, 2fr)
    minmax(0, 4fr);
  }

  &.registrations {  
    grid-template-columns:
    minmax(0, 2fr)
    minmax(0, 2fr)
    minmax(0, 2fr)
    minmax(0, 4fr);
  }
  
  > div {
    overflow-wrap: break-word;
  }
}

.data-grid.header {
  font-weight: bold;
  border-bottom: 2px solid #000000;
}


/* Einrückung der Listenpunkte verringern (->Alignment) */
.data-table ul {
    margin: 0;
    padding-left: 1.25rem;
    @media (max-width: 768px) {
  .data-table ul {
    padding-left: 0.5rem;
  }
}
}

/* Alignment von Header- und Data-Cells  */
.data-grid {
    display: contents;
}


/* Desktop: Zeilenhöhe 100px (->Liste) & Zentrierung */
@media (min-width: 769px) {
  .data-grid.row > div {
    display: flex;
    align-items: center;
    height: 100px;
  }
}

.action-cell {
  position: relative;
}

/* "Deaktiviert" die Zeile, wenn ein Eintrag gelöscht wird */
.data-grid.row.disabled-row > div {
  pointer-events: none;
  opacity: 0.5;
}

.action-cell app-loading-spinner {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: rgba(255,255,255,0.2);
  z-index: 10;
}

.paginator-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
}

/* 1. Rahmen um Zellen */
.data-table.registrations .data-grid.row > div,
.data-table.courses .data-grid.row > div {
  border: 1pt solid #404040;
  padding-left: 1rem;
}

/* 1. Gestreifte Zeilen */
.data-grid.row:nth-child(even) > div {
  background-color: rgba(0, 0, 0, 0.05);
}

/* 1. Hover-Effekt */
.data-grid.row:hover > div {
  background-color: rgba(0, 200, 0, 0.08);
}