<h1>Alle Kurse</h1>

<div class="data-table courses">
  <div class="data-grid header">
    <div>Kurs</div>
    <div>Veranstaltungsort</div>
    <div>Adresse des Veranstaltungsortes</div>
    <div>Öffentlich erreichbar?</div>
    <div>Kursleiter</div>
    <div>Alle Termine</div>
  </div>

@for(course of pagedCourses; track course.id) {
  <div class="data-grid row">
    <div>{{ course.name }}</div>
    <div>{{ course.eventLocation.name }}</div>
    <div>{{ course.eventLocation.address }}</div>
    <div>{{ course.eventLocation.venueByPublicTansport == true ? 'Ja' : 'Nein' }}</div>
    <div>{{ course.instructor }}</div>
    <div>
      <ul>
        @for(date of course.dates; track $index) {
        <li>
          <span>{{ date.begin | date : "MMM dd, yyyy 'um' hh:mm a" }}</span> -
          <span>{{ date.end | date : "MMM dd, yyyy 'um' hh:mm a" }}</span>
        </li>
        }
      </ul>
    </div>
  </div>
  }
</div>
<div class="paginator-container">
  <mat-paginator
    [length]="store.courses.length"
    [pageSize]="coursePageSize"
    [pageIndex]="coursePageIndex"
    [pageSizeOptions]="[5]"
    [hidePageSize]="true"
    showFirstLastButtons
    (page)="onCoursePageChange($event)">
  </mat-paginator>
</div>

<h1>Alle Anmeldungen</h1>

<div class="data-table registrations">
  <div class="data-grid header">
    <div>Name</div>
    <div>Geburtsdatum</div>
    <div>Kurs</div>
    <div>Aktion</div>
  </div>

  @for (registration of pagedRegistrations; track registration.id) {
  <div class="data-grid row" [class.disabled-row]="isRowLoading(registration.id)">
    <div>{{ registration.name }}</div>
    <div>{{ registration.birthdate }}</div>
    <div>{{ registration.course?.name }}</div>
    <div class="action-cell">
      @if (isRowLoading(registration.id)) {
      <app-loading-spinner mode="row"></app-loading-spinner>
      } @if (!isRowLoading(registration.id)) {
      <button (click)="deleteRegistration(registration.id)" 
      [disabled]="isRowLoading(registration.id)">
        Anmeldung löschen
      </button>
      }
    </div>
  </div>
  }
</div>
  
<div class="paginator-container">
  <mat-paginator [length]="store.registrations.length" [pageSize]="registrationPageSize" [pageIndex]="registrationPageIndex"
    [pageSizeOptions]="[5]" [hidePageSize]="true" showFirstLastButtons (page)="onRegistrationPageChange($event)">
  </mat-paginator>
</div>