<form #formDirective="ngForm" [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="form-grid">
  <h2>Zum Kurs anmelden!</h2>

  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" required />

    @if (signupForm.controls.name?.errors?.required && signupForm.controls.name.touched
    ) {
    <mat-error>Name ist erforderlich</mat-error>
    }
    @if (signupForm.controls.name?.errors?.minlength  && signupForm.controls.name.touched
    ) {
    <mat-error>Min. {{ signupForm.controls.name?.errors?.minlength.requiredLength }} Zeichen</mat-error>
    }
    @if (signupForm.controls.name?.errors?.maxlength  && signupForm.controls.name.touched
    ) {
    <mat-error>Max. {{ signupForm.controls.name?.errors?.maxlength.requiredLength }} Zeichen</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Geburtsdatum</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="birthdate" />
    <mat-datepicker-toggle matSuffix [for]="picker" />
    <mat-datepicker #picker />

    @if (signupForm.controls.birthdate.invalid && signupForm.controls.birthdate.touched
    ) {
    <mat-error>Geburtsdatum ist erforderlich</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Kurs</mat-label>
    <mat-select formControlName="courseId">
      @for (course of store.courses; track course.id) {
      <mat-option [value]="course.id">
        {{ course.name }}
      </mat-option>
      }
    </mat-select>

    @if (signupForm.controls.courseId.invalid && signupForm.controls.courseId.touched
    ) {
    <mat-error>Bitte einen Kurs auswählen</mat-error>
    }
  </mat-form-field>

  <mat-checkbox formControlName="newsletter">
    Newsletter abonnieren
  </mat-checkbox>

  <button mat-raised-button color="primary" type="submit" [disabled]="signupForm.invalid">
    Erfassen
  </button>
</form>