.overlay.row {
  position: absolute;
  inset: 0;
  background-color: rgba(255,255,255,0.2);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay.global {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.3);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

